@UserHeight: 50px;
@hoverTextColor: red;
@SlidChildPadding: 15px;

@SliderWidth: calc(195px - @SlidChildPadding);
.ul {
  padding: 0 15px;
  &>.top {
    margin-top: 15px;
    border: 1px solid #cccccc;
    padding: 5px;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      border: 1px solid @hoverTextColor;
    }
    .name {
      color: #5daf34;
    }
    .count {
      color: #888F98FF;
    }
    .time {
      color: #8c939d;
    }
    .child {
      margin-top: 15px;
      padding: 0;
    }
    .child:nth-last-child(1) {
      margin-bottom: 10px;
    }
    .childTitle {
      display: inline-block;
      padding: 15px 0;
      border:1px solid  rgba(255, 255, 255, .5);
      margin-top: @SlidChildPadding;
      background: #cccccc;
      width: @SliderWidth;
      padding-left: @SlidChildPadding;

      &:hover {
        cursor: pointer;
        color: @hoverTextColor;
      }
    }

  }
}
.containerSilder {
  height: calc(100vh - @UserHeight);
  overflow-y: scroll;
}
.userInfo  {
  height: @UserHeight;
  text-align: center;
  line-height: @UserHeight;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  .knowledgeBaseAdd {
    height: 15px;
    width: 15px;
    &:hover {
      cursor: pointer;
    }
  }
}
.img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
