@UserHeight: 50px;
@hoverTextColor: red;
.ul {
  padding: 0 15px;
  &>.top {
    margin-top: 15px;
    border: 1px solid #cccccc;
    padding: 5px;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      border: 1px solid @hoverTextColor;
    }
    .name {
      color: #5daf34;
    }
    .count {
      color: #888F98FF;
    }
    .time {
      color: #8c939d;
    }
    .child {
      margin-top: 15px;
      margin-left: 30px;
    }
    .child:nth-last-child(1) {
      margin-bottom: 10px;
    }
    .childTitle:hover {
      cursor: pointer;
      color: @hoverTextColor;
    }
  }
}
.containerSilder {
  height: calc(100vh - @UserHeight);
  overflow-y: scroll;
}
.userInfo  {
  height: @UserHeight;
  text-align: center;
  line-height: @UserHeight;
}
.img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
